.app-layout {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header header"
    "sidebar content";
  transition: grid-template-columns 0.3s ease-in-out;
}

.app-layout.sidebar-open {
  grid-template-columns: 240px 1fr;
  grid-template-rows: 70px 1fr;
}

.app-layout.sidebar-closed {
  grid-template-columns: 0px 1fr; 
  grid-template-rows: 70px 1fr;
}

.app-header {
  grid-area: header;
}
.app-sidebar {
  grid-area: sidebar;
}

.app-content {
  grid-area: content;
  background-color: var(--color-fondo);
  padding: 0; 
  overflow-y: auto; 
}

@media (max-width: 767px) {
  .app-layout {
    grid-template-areas:
      "header"
      "content";
    grid-template-columns: 1fr;
  }

  .app-layout.sidebar-open {
    grid-template-columns: 1fr;
  }
  .app-layout.sidebar-closed {
    grid-template-columns: 1fr;
  }

  .app-sidebar {
    grid-area: unset;
    position: fixed;
    left: 0;
    z-index: 1000;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    width: 240px;
    top: 70px;
    bottom: 0;
    height: auto;
  }
  
  .app-layout.sidebar-open .app-sidebar {
    transform: translateX(0);
  }
  
  .app-layout.sidebar-closed .app-sidebar {
    transform: translateX(-100%);
    padding: 1rem;
    border-right: 1px solid var(--color-borde-input);
  }
  
  .sidebar-overlay {
    display: block;
    position: fixed;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    animation: fadeInOverlay 0.3s ease;
    top: 70px;
    bottom: 0;
    height: auto;
  }
  
  @keyframes fadeInOverlay {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}